<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pagos /</span> Listado de pagos</h4>
        <div class="card">
            <h5 class="card-header">Información básica</h5>
            <div class="row">
                <div class="col-md-12">
                    <select class="select2 form-select" [(ngModel)]="debtSelected"
                        (ngModelChange)="SelectedCreditor()">
                        <option [ngValue]="undefined">Escoja el debitor y creditor con su deuda</option>
                        <option *ngFor="let debt of debts" [ngValue]="debt">
                            {{ debt.userDebtor.names }} {{ debt.userDebtor.lastNames }} 
                            deuda de 
                            {{ debt.amount }} 
                            a 
                            {{ debt.userCreditor.names }} {{ debt.userCreditor.lastNames }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><strong>Valor del pago</strong></th>
                                    <th><strong>Fecha del pago</strong></th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                <tr *ngFor="let pay of pays">                                    
                                    <td>{{ pay.amount | currency:'COP':'symbol':'1.0-0' }}</td>
                                    <td>{{ FormatDate(pay.createAt) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>