<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Deduas /</span> Listar de deudas</h4>
        <div class="card">
            <h5 class="card-header">Información básica</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th><strong>Estado deuda</strong></th>
                            <th><strong>Debitor</strong></th>
                            <th><strong>Creditor</strong></th>
                            <th><strong>Monto</strong></th>
                            <th><strong>Deuda a hoy</strong></th>
                            <th><strong>F. inicio deuda</strong></th>
                            <th><strong>F. últ. pago</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr *ngFor="let debt of debts">
                            <td>
                                <i *ngIf="!debt.isActive" class="bx bx-link-external iLink" title="Reactivar deuda" 
                                    (click)="ActivateDebt(debt.id)" style="color: darkgreen;"></i>
                            </td>
                            <td *ngIf="debt.difference > 0"><span class="badge bg-label-success">Vigente</span></td>                            
                            <td *ngIf="debt.difference == 0"><span class="badge bg-label-danger">Pagada</span></td>
                            <td>{{debt.userDebtor.names}} {{debt.userDebtor.lastNames}}</td>
                            <td>{{debt.userCreditor.names}} {{debt.userCreditor.lastNames}}</td>
                            <td>{{debt.amount | currency:'COP':'symbol':'1.0-0' }}</td>
                            <td>{{debt.difference | currency:'COP':'symbol':'1.0-0' }}</td>
                            <td>{{ FormatDate(debt.createAt) }}</td>
                            <td>{{ FormatDate(debt.updateAt) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>