.floating-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    /* Color primario de tu tema */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    cursor: move;
    z-index: 1000;
    touch-action: none;
    /* Previene el scroll en móviles al arrastrar */
    user-select: none;
    /* Previene selección de texto */
    color: white;
    font-size: 24px;
}