<div class="row">
    <div class="mb-3 col-md-10">
        <label class="form-label">Pregunta n°{{ index + 1 }}</label>
        <input class="form-control" type="text" name="question" 
            [value]="question()" 
            (input)="UpdateTextQuestion($event)" />
        <label for="question" *ngIf="IsInvalid() && question() === ''" class="form-label" style="color: red;">La pregunta es obligatoria</label>
    </div>
    <div class="mb-3 col-md-2">
        <label class="form-label">Acción</label>
        <div class="demo-inline-spacing">
            <button type="button" class="btn btn-icon btn-danger" (click)="RemoveQuestion()">
                <span class="tf-icons bx bx-trash"></span>
            </button>
        </div>
    </div>
    <div class="mb-3 col-md-8">
        <label class="form-label">Tipo de respuesta</label>
        <select class="select2 form-select" [value]="typeQuestion()" (change)="UpdateSelectTypeResponse($event)">
            <option value="">Escoja una opción</option>
            <option *ngFor="let typeQuestion of typesQuestions" [value]="typeQuestion.id">
                {{ typeQuestion.type }}
            </option>
        </select>
        <label *ngIf="IsInvalid() && typeQuestion() === ''" class="form-label" style="color: red;">Seleccionar los tipos de respuesta es obligatorio</label>
    </div>
    <div class="mb-3 col-md-6">
        <small class="text-light fw-semibold">Agregar/Eliminar respuestas</small>
        <div class="mt-3">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-secondary" (click)="AddResponse()">
                    <i class="tf-icons bx bx-plus"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="RemoveResponse(index)">
                    <i class="tf-icons bx bx-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <app-response *ngFor="let response of responses; let i = index" [index]="i" (remove)="RemoveResponse($event)">
        </app-response>
    </div>
</div>
<div class="row mb-3" style="margin-top: 2%; margin-bottom: 2%;">
    <hr class="m-0" />
</div>