<app-draggable-icon></app-draggable-icon>
<div class="container-xxl container-p-y" *ngIf="loadingSpinnerFacade.loading$ | async">
    <div class="misc-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="demo-inline-spacing">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper" *ngIf="!(loadingSpinnerFacade.loading$ | async)">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Encuesta /</span> Responder encuesta
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">{{inquest?.title}}</h5>
                    <div class="card-body">
                        <span>{{inquest?.description}}</span>
                        <div class="error"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6" *ngFor="let question of inquest?.questions">
                <div class="card mb-4">
                    <div class="card-body">
                        <span style="font-weight: bold;">{{question.questionn}}</span>
                    </div>
                    <hr class="m-0" />
                    <div class="card-body">
                        <div class="text-light small fw-semibold">
                            Respuestas ({{question.typeQuestion.type}})
                        </div>
                        <div class="demo-inline-spacing" style="margin-top: 1%;">
                            <div class="form-check form-switch mb-2" *ngFor="let response of question.responses">
                                <input class="form-check-input" type="checkbox" 
                                    id="flexSwitchCheckDefault{{response.id}}" [(ngModel)]="response.isSelected"
                                    (change)="OnResponseChange(question, response, question.responses)"/>
                                <label class="form-check-label" for="flexSwitchCheckDefault{{response.id}}">
                                    {{response.response}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);" (click)="SaveResponseOfInquest()">
                            <i class="bx bx-save me-1"></i>
                            Guardar respuestas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>