<app-draggable-icon></app-draggable-icon>
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Bajo mantenimiento</h2>
        <p class="mb-4 mx-2">Lo sentimos por el inconveniente, pero la actual funcionalidad está en desarrollo</p>
        <a href="home" class="btn btn-primary">Regresar al inicio</a>
        <div class="mt-4">
            <img src="../assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500"
                class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
                data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>