<div class="container-login d-flex justify-content-center align-items-center vh-100" *ngIf="loadingSpinnerFacade.loading$ | async">
    <div class="row">
        <div class="col-md text-center">
            <div class="demo-inline-spacing">
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-wrapper" *ngIf="!(loadingSpinnerFacade.loading$ | async)">
    <section class="wrapper">
        <div class="app-brand demo">
            <a href="javascript:void(0);" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <header style="margin-top: -20px;">
                        <h1>Iniciar sesión</h1>                        
                    </header>
                </span>
            </a>
        </div>
        <div class="form login" style="margin-top: 10%;">            
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email address" required />
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
            <input type="button" (click)="Login()" value="Autenticarme" />
        </div>
        <div class="form forgot-password">
            <header style="margin-top: -5px;">Registrarme</header>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="names" [(ngModel)]="namesNewUser" placeholder="Nombres completos" required />
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="lastNames" [(ngModel)]="lastNamesNewUser" placeholder="Apellidos completos" required />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input type="password" name="password" [(ngModel)]="passwordNewUser" placeholder="Password" required />
                    </div>
                    <div class="col-md-6">
                        <input type="password" name="retryPassword" [(ngModel)]="retryPasswordNewUser" placeholder="Repita password" required />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input type="email" name="email" [(ngModel)]="emailNewUser" placeholder="Email address" required />
                    </div>
                    <div class="col-md-6">
                        <input type="button" (click)="Register()" value="Registrarme" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>